<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="01.10.02.73"/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="printer_model_id" value="BL-P001"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="10420"/>
    <metadata key="weight" value="41.14"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="true"/>
    <metadata key="label_object_enabled" value="false"/>
    <object identify_id="376" name="Stumpy tall stump for LK diffused.stl" skipped="false" />
    <filament id="1" tray_info_idx="GFA00" type="PLA" color="#FFFFFF" used_m="13.57" used_g="41.14" />
    <warning msg="bed_temperature_too_high_than_filament" level="1" error_code ="1000C001"  />
  </plate>
  <plate>
    <metadata key="index" value="2"/>
    <metadata key="printer_model_id" value="BL-P001"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="21757"/>
    <metadata key="weight" value="76.46"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="true"/>
    <metadata key="label_object_enabled" value="false"/>
    <object identify_id="151" name="cap15 for LK.stl" skipped="false" />
    <filament id="1" tray_info_idx="GFA00" type="PLA" color="#FFFFFF" used_m="25.23" used_g="76.46" />
    <warning msg="bed_temperature_too_high_than_filament" level="1" error_code ="1000C001"  />
  </plate>
</config>
