{
    "accel_to_decel_enable": "0",
    "accel_to_decel_factor": "50%",
    "activate_air_filtration": "{{FILAMENT_ACTIVATE_AIR_FILTRATION}}",
    "additional_cooling_fan_speed": "{{FILAMENT_ADDITIONAL_COOLING_FAN_SPEED}}",
    "apply_scarf_seam_on_circles": "1",
    "apply_top_surface_compensation": "0",
    "auxiliary_fan": "1",
    "avoid_crossing_wall_includes_support": "0",
    "bed_custom_model": "",
    "bed_custom_texture": "",
    "bed_exclude_area": [
        "0x0",
        "18x0",
        "18x28",
        "0x28"
    ],
    "bed_temperature_formula": "by_first_filament",
    "before_layer_change_gcode": "",
    "best_object_pos": "0.5,0.5",
    "bottom_color_penetration_layers": "3",
    "bottom_shell_layers": "{{BOTTOM_SHELL_LAYERS}}",
    "bottom_shell_thickness": "0",
    "bottom_surface_pattern": "monotonic",
    "bridge_angle": "0",
    "bridge_flow": "1",
    "bridge_no_support": "0",
    "bridge_speed": [
        "50",
        "50"
    ],
    "brim_object_gap": "0.5",
    "brim_type": "no_brim",
    "brim_width": "0",
    "chamber_temperatures": "{{FILAMENT_CHAMBER_TEMPERATURES}}",
    "change_filament_gcode": "{{CHANGE_FILAMENT_GCODE}}",
    "circle_compensation_manual_offset": "0",
    "circle_compensation_speed": [
        "200",
        "200",
        "200",
        "200"
    ],
    "close_fan_the_first_x_layers": "{{FILAMENT_CLOSE_FAN_THE_FIRST_X_LAYERS}}",
    "complete_print_exhaust_fan_speed": [
        "70",
        "70",
        "70",
        "70"
    ],
    "cool_plate_temp": "{{FILAMENT_COOL_PLATE_TEMP}}",
    "cool_plate_temp_initial_layer": "{{FILAMENT_COOL_PLATE_TEMP_INITIAL_LAYER}}",
    "counter_coef_1": [
        "0",
        "0",
        "0",
        "0"
    ],
    "counter_coef_2": [
        "0.008",
        "0.008",
        "0.008",
        "0.008"
    ],
    "counter_coef_3": [
        "-0.041",
        "-0.041",
        "-0.041",
        "-0.041"
    ],
    "counter_limit_max": [
        "0.033",
        "0.033",
        "0.033",
        "0.033"
    ],
    "counter_limit_min": [
        "-0.035",
        "-0.035",
        "-0.035",
        "-0.035"
    ],
    "curr_bed_type": "Textured PEI Plate",
    "default_acceleration": [
        "10000",
        "10000"
    ],
    "default_filament_colour": "{{FILAMENT_DEFAULT_FILAMENT_COLOUR}}",
    "default_filament_profile": "{{DEFAULT_FILAMENT_PROFILE}}",
    "default_jerk": "0",
    "default_nozzle_volume_type": [
        "Standard"
    ],
    "default_print_profile": "{{DEFAULT_PRINT_PROFILE}}",
    "deretraction_speed": [
        "30",
        "30"
    ],
    "detect_floating_vertical_shell": "1",
    "detect_narrow_internal_solid_infill": "1",
    "detect_overhang_wall": "1",
    "detect_thin_wall": "0",
    "diameter_limit": [
        "50",
        "50",
        "50",
        "50"
    ],
    "different_settings_to_system": [
        "initial_layer_print_height",
        "sparse_infill_density",
        "sparse_infill_pattern",
        "top_shell_layers",
        "wall_loops",
        "skin_infill_density",
        "skeleton_infill_density",
        "layer_height",
        "skirt_loops"
    ],
    "draft_shield": "disabled",
    "during_print_exhaust_fan_speed": "{{FILAMENT_DURING_PRINT_EXHAUST_FAN_SPEED}}",
    "elefant_foot_compensation": "0.15",
    "enable_arc_fitting": "1",
    "enable_circle_compensation": "0",
    "enable_height_slowdown": [
        "0",
        "0"
    ],
    "enable_long_retraction_when_cut": "2",
    "enable_overhang_bridge_fan": [
        "1",
        "1",
        "1",
        "1"
    ],
    "enable_overhang_speed": [
        "1",
        "1"
    ],
    "enable_pre_heating": "0",
    "enable_pressure_advance": [
        "0",
        "0",
        "0",
        "0"
    ],
    "enable_prime_tower": "1",
    "enable_support": "0",
    "enable_wrapping_detection": "0",
    "enforce_support_layers": "0",
    "eng_plate_temp": "{{FILAMENT_ENG_PLATE_TEMP}}",
    "eng_plate_temp_initial_layer": "{{FILAMENT_ENG_PLATE_TEMP_INITIAL_LAYER}}",
    "ensure_vertical_shell_thickness": "enabled",
    "exclude_object": "1",
    "extruder_ams_count": [
        "1#0|4#0",
        "1#0|4#0"
    ],
    "extruder_clearance_dist_to_rod": "33",
    "extruder_clearance_height_to_lid": "{{EXTRUDER_CLEARANCE_HEIGHT_TO_LID}}",
    "extruder_clearance_height_to_rod": "{{EXTRUDER_CLEARANCE_HEIGHT_TO_ROD}}",
    "extruder_clearance_max_radius": "{{EXTRUDER_CLEARANCE_MAX_RADIUS}}",
    "extruder_colour": [
        "#018001"
    ],
    "extruder_offset": [
        "0x2"
    ],
    "extruder_printable_area": [],
    "extruder_printable_height": [],
    "extruder_type": [
        "Direct Drive"
    ],
    "extruder_variant_list": [
        "Direct Drive Standard,Direct Drive High Flow"
    ],
    "fan_cooling_layer_time": "{{FILAMENT_FAN_COOLING_LAYER_TIME}}",
    "fan_direction": "left",
    "fan_max_speed": "{{FILAMENT_FAN_MAX_SPEED}}",
    "fan_min_speed": "{{FILAMENT_FAN_MIN_SPEED}}",
    "filament_adaptive_volumetric_speed": "{{FILAMENT_NY_FILAMENT_ADAPTIVE_VOLUMETRIC_SPEED}}",
    "filament_adhesiveness_category": [
        "100",
        "100",
        "100",
        "100"
    ],
    "filament_change_length": "{{FILAMENT_FILAMENT_CHANGE_LENGTH}}",
    "filament_colour": "{{FILAMENT_FILAMENT_COLOUR}}",
    "filament_colour_type": "{{FILAMENT_FILAMENT_COLOUR_TYPE}}",
    "filament_cost": "{{FILAMENT_FILAMENT_COST}}",
    "filament_density": "{{FILAMENT_FILAMENT_DENSITY}}",
    "filament_deretraction_speed": "{{FILAMENT_NY_FILAMENT_DERETRACTION_SPEED}}",
    "filament_diameter": "{{FILAMENT_FILAMENT_DIAMETER}}",
    "filament_end_gcode": "{{FILAMENT_FILAMENT_END_GCODE}}",
    "filament_extruder_variant": "{{FILAMENT_NY_FILAMENT_EXTRUDER_VARIANT}}",
    "filament_flow_ratio": "{{FILAMENT_NY_FILAMENT_FLOW_RATIO}}",
    "filament_flush_temp": "{{FILAMENT_NY_FILAMENT_FLUSH_TEMP}}",
    "filament_flush_volumetric_speed": "{{FILAMENT_NY_FILAMENT_FLUSH_VOLUMETRIC_SPEED}}",
    "filament_ids": "{{FILAMENT_FILAMENT_IDS}}",
    "filament_is_support": "{{FILAMENT_FILAMENT_IS_SUPPORT}}",
    "filament_long_retractions_when_cut": "{{FILAMENT_NY_FILAMENT_LONG_RETRACTIONS_WHEN_CUT}}",
    "filament_map": "{{FILAMENT_MAP}}",
    "filament_map_mode": "Auto For Flush",
    "filament_max_volumetric_speed": "{{FILAMENT_NY_FILAMENT_MAX_VOLUMETRIC_SPEED}}",
    "filament_minimal_purge_on_wipe_tower": "{{FILAMENT_FILAMENT_MINIMAL_PURGE_ON_WIPE_TOWER}}",
    "filament_multi_colour": "{{FILAMENT_FILAMENT_MULTI_COLOUR}}",
    "filament_notes": "",
    "filament_pre_cooling_temperature": "{{FILAMENT_NY_FILAMENT_PRE_COOLING_TEMPERATURE}}",
    "filament_prime_volume": [
        "30",
        "30",
        "30",
        "30"
    ],
    "filament_printable": "{{FILAMENT_FILAMENT_PRINTABLE}}",
    "filament_ramming_travel_time": "{{FILAMENT_NY_FILAMENT_RAMMING_TRAVEL_TIME}}",
    "filament_ramming_volumetric_speed": "{{FILAMENT_NY_FILAMENT_RAMMING_VOLUMETRIC_SPEED}}",
    "filament_retract_before_wipe": "{{FILAMENT_NY_FILAMENT_RETRACT_BEFORE_WIPE}}",
    "filament_retract_restart_extra": "{{FILAMENT_NY_FILAMENT_RETRACT_RESTART_EXTRA}}",
    "filament_retract_when_changing_layer": "{{FILAMENT_NY_FILAMENT_RETRACT_WHEN_CHANGING_LAYER}}",
    "filament_retraction_distances_when_cut": "{{FILAMENT_NY_FILAMENT_RETRACTION_DISTANCES_WHEN_CUT}}",
    "filament_retraction_length": "{{FILAMENT_NY_FILAMENT_RETRACTION_LENGTH}}",
    "filament_retraction_minimum_travel": "{{FILAMENT_NY_FILAMENT_RETRACTION_MINIMUM_TRAVEL}}",
    "filament_retraction_speed": "{{FILAMENT_NY_FILAMENT_RETRACTION_SPEED}}",
    "filament_scarf_gap": "{{FILAMENT_FILAMENT_SCARF_GAP}}",
    "filament_scarf_height": "{{FILAMENT_FILAMENT_SCARF_HEIGHT}}",
    "filament_scarf_length": "{{FILAMENT_FILAMENT_SCARF_LENGTH}}",
    "filament_scarf_seam_type": "{{FILAMENT_FILAMENT_SCARF_SEAM_TYPE}}",
    "filament_self_index": "{{FILAMENT_NY_FILAMENT_SELF_INDEX}}",
    "filament_settings_id": "{{FILAMENT_FILAMENT_SETTINGS_ID}}",
    "filament_shrink": "{{FILAMENT_FILAMENT_SHRINK}}",
    "filament_soluble": "{{FILAMENT_FILAMENT_SOLUBLE}}",
    "filament_start_gcode": "{{FILAMENT_FILAMENT_START_GCODE}}",
    "filament_type": "{{FILAMENT_FILAMENT_TYPE}}",
    "filament_velocity_adaptation_factor": "{{FILAMENT_FILAMENT_VELOCITY_ADAPTATION_FACTOR}}",
    "filament_vendor": "{{FILAMENT_FILAMENT_VENDOR}}",
    "filament_wipe": "{{FILAMENT_NY_FILAMENT_WIPE}}",
    "filament_wipe_distance": "{{FILAMENT_NY_FILAMENT_WIPE_DISTANCE}}",
    "filament_z_hop": "{{FILAMENT_NY_FILAMENT_Z_HOP}}",
    "filament_z_hop_types": "{{FILAMENT_NY_FILAMENT_Z_HOP_TYPES}}",
    "filename_format": "{input_filename_base}_{filament_type[0]}_{print_time}.gcode",
    "filter_out_gap_fill": "0",
    "first_layer_print_sequence": [
        "0"
    ],
    "first_x_layer_fan_speed": "{{FILAMENT_FIRST_X_LAYER_FAN_SPEED}}",
    "flush_into_infill": "0",
    "flush_into_objects": "0",
    "flush_into_support": "1",
    "flush_multiplier": [
        "1"
    ],
    "flush_volumes_matrix": "{{FLUSH_VOLUMES_MATRIX}}",
    "flush_volumes_vector": "{{FLUSH_VOLUMES_VECTOR}}",
    "from": "project",
    "full_fan_speed_layer": "{{FILAMENT_FULL_FAN_SPEED_LAYER}}",
    "fuzzy_skin": "none",
    "fuzzy_skin_point_distance": "0.8",
    "fuzzy_skin_thickness": "0.3",
    "gap_infill_speed": [
        "250",
        "250"
    ],
    "gcode_add_line_number": "0",
    "gcode_flavor": "marlin",
    "grab_length": [
        "0"
    ],
    "has_scarf_joint_seam": "0",
    "head_wrap_detect_zone": [],
    "hole_coef_1": [
        "0",
        "0",
        "0",
        "0"
    ],
    "hole_coef_2": [
        "-0.008",
        "-0.008",
        "-0.008",
        "-0.008"
    ],
    "hole_coef_3": [
        "0.23415",
        "0.23415",
        "0.23415",
        "0.23415"
    ],
    "hole_limit_max": [
        "0.22",
        "0.22",
        "0.22",
        "0.22"
    ],
    "hole_limit_min": [
        "0.088",
        "0.088",
        "0.088",
        "0.088"
    ],
    "host_type": "octoprint",
    "hot_plate_temp": "{{FILAMENT_HOT_PLATE_TEMP}}",
    "hot_plate_temp_initial_layer": "{{FILAMENT_HOT_PLATE_TEMP_INITIAL_LAYER}}",
    "hotend_cooling_rate": [
        "2"
    ],
    "hotend_heating_rate": [
        "2"
    ],
    "impact_strength_z": "{{FILAMENT_IMPACT_STRENGTH_Z}}",
    "independent_support_layer_height": "1",
    "infill_combination": "0",
    "infill_direction": "45",
    "infill_jerk": "9",
    "infill_lock_depth": "1",
    "infill_rotate_step": "0",
    "infill_shift_step": "0.4",
    "infill_wall_overlap": "15%",
    "inherits_group": "{{INHERITS_GROUP}}",
    "initial_layer_acceleration": [
        "500",
        "500"
    ],
    "initial_layer_flow_ratio": "1",
    "initial_layer_infill_speed": [
        "105",
        "105"
    ],
    "initial_layer_jerk": "9",
    "initial_layer_line_width": "0.5",
    "initial_layer_print_height": "{{INITIAL_LAYER_PRINT_HEIGHT}}",
    "initial_layer_speed": [
        "50",
        "50"
    ],
    "initial_layer_travel_acceleration": [
        "6000",
        "6000"
    ],
    "inner_wall_acceleration": [
        "0",
        "0"
    ],
    "inner_wall_jerk": "9",
    "inner_wall_line_width": "0.45",
    "inner_wall_speed": [
        "400",
        "300"
    ],
    "interface_shells": "0",
    "interlocking_beam": "0",
    "interlocking_beam_layer_count": "2",
    "interlocking_beam_width": "0.8",
    "interlocking_boundary_avoidance": "2",
    "interlocking_depth": "2",
    "interlocking_orientation": "22.5",
    "internal_bridge_support_thickness": "0.8",
    "internal_solid_infill_line_width": "0.42",
    "internal_solid_infill_pattern": "zig-zag",
    "internal_solid_infill_speed": [
        "250",
        "250"
    ],
    "ironing_direction": "45",
    "ironing_flow": "10%",
    "ironing_inset": "0.21",
    "ironing_pattern": "zig-zag",
    "ironing_spacing": "0.15",
    "ironing_speed": "30",
    "ironing_type": "no ironing",
    "is_infill_first": "0",
    "layer_change_gcode": "{{LAYER_CHANGE_GCODE}}",
    "layer_height": "{{LAYER_HEIGHT}}",
    "line_width": "0.42",
    "locked_skeleton_infill_pattern": "zigzag",
    "locked_skin_infill_pattern": "crosszag",
    "long_retractions_when_cut": [
        "0",
        "0"
    ],
    "long_retractions_when_ec": "{{FILAMENT_NY_LONG_RETRACTIONS_WHEN_EC}}",
    "machine_end_gcode": "{{MACHINE_END_GCODE}}",
    "machine_load_filament_time": "29",
    "machine_max_acceleration_e": [
        "5000",
        "5000",
        "5000",
        "5000"
    ],
    "machine_max_acceleration_extruding": [
        "20000",
        "20000",
        "20000",
        "20000"
    ],
    "machine_max_acceleration_retracting": [
        "5000",
        "5000",
        "5000",
        "5000"
    ],
    "machine_max_acceleration_travel": [
        "9000",
        "9000",
        "9000",
        "9000"
    ],
    "machine_max_acceleration_x": [
        "20000",
        "20000",
        "20000",
        "20000"
    ],
    "machine_max_acceleration_y": [
        "20000",
        "20000",
        "20000",
        "20000"
    ],
    "machine_max_acceleration_z": [
        "500",
        "200",
        "200",
        "200"
    ],
    "machine_max_jerk_e": [
        "2.5",
        "2.5",
        "2.5",
        "2.5"
    ],
    "machine_max_jerk_x": [
        "9",
        "9",
        "9",
        "9"
    ],
    "machine_max_jerk_y": [
        "9",
        "9",
        "9",
        "9"
    ],
    "machine_max_jerk_z": [
        "3",
        "3",
        "3",
        "3"
    ],
    "machine_max_speed_e": [
        "30",
        "30",
        "30",
        "30"
    ],
    "machine_max_speed_x": [
        "500",
        "200",
        "200",
        "200"
    ],
    "machine_max_speed_y": [
        "500",
        "200",
        "200",
        "200"
    ],
    "machine_max_speed_z": [
        "20",
        "20",
        "20",
        "20"
    ],
    "machine_min_extruding_rate": [
        "0"
    ],
    "machine_min_travel_rate": [
        "0"
    ],
    "machine_pause_gcode": "M400 U1",
    "machine_prepare_compensation_time": "260",
    "machine_start_gcode": "{{MACHINE_START_GCODE}}",
    "machine_switch_extruder_time": "0",
    "machine_unload_filament_time": "28",
    "master_extruder_id": "1",
    "max_bridge_length": "0",
    "max_layer_height": [
        "0.28"
    ],
    "max_travel_detour_distance": "0",
    "min_bead_width": "85%",
    "min_feature_size": "25%",
    "min_layer_height": [
        "0.08"
    ],
    "minimum_sparse_infill_area": "15",
    "mmu_segmented_region_interlocking_depth": "0",
    "mmu_segmented_region_max_width": "0",
    "name": "project_settings",
    "no_slow_down_for_cooling_on_outwalls": "{{FILAMENT_NO_SLOW_DOWN_FOR_COOLING_ON_OUTWALLS}}",
    "nozzle_diameter": [
        "0.4"
    ],
    "nozzle_flush_dataset": [
        "0"
    ],
    "nozzle_height": "4.2",
    "nozzle_temperature": "{{FILAMENT_NY_NOZZLE_TEMPERATURE}}",
    "nozzle_temperature_initial_layer": "{{FILAMENT_NY_NOZZLE_TEMPERATURE_INITIAL_LAYER}}",
    "nozzle_temperature_range_high": "{{FILAMENT_NOZZLE_TEMPERATURE_RANGE_HIGH}}",
    "nozzle_temperature_range_low": "{{FILAMENT_NOZZLE_TEMPERATURE_RANGE_LOW}}",
    "nozzle_type": [
        "stainless_steel",
        "stainless_steel"
    ],
    "nozzle_volume": "{{NOZZLE_VOLUME}}",
    "nozzle_volume_type": [
        "Standard"
    ],
    "only_one_wall_first_layer": "0",
    "ooze_prevention": "0",
    "other_layers_print_sequence": [
        "0"
    ],
    "other_layers_print_sequence_nums": "0",
    "outer_wall_acceleration": [
        "5000",
        "5000"
    ],
    "outer_wall_jerk": "9",
    "outer_wall_line_width": "0.42",
    "outer_wall_speed": [
        "400",
        "200"
    ],
    "overhang_1_4_speed": [
        "0",
        "0"
    ],
    "overhang_2_4_speed": [
        "50",
        "50"
    ],
    "overhang_3_4_speed": [
        "30",
        "30"
    ],
    "overhang_4_4_speed": [
        "10",
        "10"
    ],
    "overhang_fan_speed": "{{FILAMENT_OVERHANG_FAN_SPEED}}",
    "overhang_fan_threshold": "{{FILAMENT_OVERHANG_FAN_THRESHOLD}}",
    "overhang_threshold_participating_cooling": "{{FILAMENT_OVERHANG_THRESHOLD_PARTICIPATING_COOLING}}",
    "overhang_totally_speed": [
        "10",
        "10"
    ],
    "override_filament_scarf_seam_setting": "0",
    "physical_extruder_map": [
        "0"
    ],
    "post_process": [],
    "pre_start_fan_time": "{{FILAMENT_PRE_START_FAN_TIME}}",
    "precise_outer_wall": "0",
    "precise_z_height": "0",
    "pressure_advance": [
        "0.02",
        "0.02",
        "0.02",
        "0.02"
    ],
    "prime_tower_brim_width": "3",
    "prime_tower_enable_framework": "0",
    "prime_tower_extra_rib_length": "0",
    "prime_tower_fillet_wall": "1",
    "prime_tower_flat_ironing": "0",
    "prime_tower_infill_gap": "150%",
    "prime_tower_lift_height": "-1",
    "prime_tower_lift_speed": "90",
    "prime_tower_max_speed": "90",
    "prime_tower_rib_wall": "1",
    "prime_tower_rib_width": "8",
    "prime_tower_skip_points": "1",
    "prime_tower_width": "35",
    "print_compatible_printers": "{{COMPATIBLE_PRINTERS}}",
    "print_extruder_id": [
        "1",
        "1"
    ],
    "print_extruder_variant": [
        "Direct Drive Standard",
        "Direct Drive High Flow"
    ],
    "print_flow_ratio": "1",
    "print_sequence": "by layer",
    "print_settings_id": "{{PRINT_SETTINGS_ID}}",
    "printable_area": [
        "0x0",
        "{{BED_SIZE_X}}x0",
        "{{BED_SIZE_X}}x{{BED_SIZE_Y}}",
        "0x{{BED_SIZE_Y}}"
    ],
    "printable_height": "{{BED_SIZE_Z}}",
    "printer_extruder_id": [
        "1",
        "1"
    ],
    "printer_extruder_variant": [
        "Direct Drive Standard",
        "Direct Drive High Flow"
    ],
    "printer_model": "{{PRINTER_MODEL}}",
    "printer_notes": "",
    "printer_settings_id": "{{PRINTER_SETTINGS_ID}}",
    "printer_structure": "{{PRINTER_STRUCTURE}}",
    "printer_technology": "{{PRINTER_TECHNOLOGY}}",
    "printer_variant": "{{PRINTER_VARIANT}}",
    "printhost_authorization_type": "key",
    "printhost_ssl_ignore_revoke": "0",
    "printing_by_object_gcode": "",
    "process_notes": "",
    "raft_contact_distance": "0.1",
    "raft_expansion": "1.5",
    "raft_first_layer_density": "90%",
    "raft_first_layer_expansion": "-1",
    "raft_layers": "0",
    "reduce_crossing_wall": "0",
    "reduce_fan_stop_start_freq": "{{FILAMENT_REDUCE_FAN_STOP_START_FREQ}}",
    "reduce_infill_retraction": "1",
    "required_nozzle_HRC": "{{FILAMENT_REQUIRED_NOZZLE_HRC}}",
    "resolution": "0.012",
    "retract_before_wipe": [
        "0%",
        "0%"
    ],
    "retract_length_toolchange": [
        "2",
        "2"
    ],
    "retract_lift_above": [
        "0",
        "0"
    ],
    "retract_lift_below": [
        "249",
        "249"
    ],
    "retract_restart_extra": [
        "0",
        "0"
    ],
    "retract_restart_extra_toolchange": [
        "0",
        "0"
    ],
    "retract_when_changing_layer": [
        "1",
        "1"
    ],
    "retraction_distances_when_cut": [
        "18",
        "18"
    ],
    "retraction_distances_when_ec": "{{FILAMENT_NY_RETRACTION_DISTANCES_WHEN_EC}}",
    "retraction_length": [
        "0.8",
        "0.8"
    ],
    "retraction_minimum_travel": [
        "1",
        "1"
    ],
    "retraction_speed": [
        "30",
        "30"
    ],
    "role_base_wipe_speed": "1",
    "scan_first_layer": "0",
    "scarf_angle_threshold": "155",
    "seam_gap": "15%",
    "seam_placement_away_from_overhangs": "0",
    "seam_position": "aligned",
    "seam_slope_conditional": "1",
    "seam_slope_entire_loop": "0",
    "seam_slope_gap": "0",
    "seam_slope_inner_walls": "1",
    "seam_slope_min_length": "10",
    "seam_slope_start_height": "10%",
    "seam_slope_steps": "10",
    "seam_slope_type": "none",
    "silent_mode": "0",
    "single_extruder_multi_material": "1",
    "skeleton_infill_density": "{{SPARSE_INFILL_DENSITY}}",
    "skeleton_infill_line_width": "0.45",
    "skin_infill_density": "{{SPARSE_INFILL_DENSITY}}",
    "skin_infill_depth": "2",
    "skin_infill_line_width": "0.45",
    "skirt_distance": "2",
    "skirt_height": "1",
    "skirt_loops": "0",
    "slice_closing_radius": "0.049",
    "slicing_mode": "regular",
    "slow_down_for_layer_cooling": "{{FILAMENT_SLOW_DOWN_FOR_LAYER_COOLING}}",
    "slow_down_layer_time": "{{FILAMENT_SLOW_DOWN_LAYER_TIME}}",
    "slow_down_min_speed": "{{FILAMENT_SLOW_DOWN_MIN_SPEED}}",
    "slowdown_end_acc": [
        "100000",
        "100000"
    ],
    "slowdown_end_height": [
        "400",
        "400"
    ],
    "slowdown_end_speed": [
        "1000",
        "1000"
    ],
    "slowdown_start_acc": [
        "100000",
        "100000"
    ],
    "slowdown_start_height": [
        "0",
        "0"
    ],
    "slowdown_start_speed": [
        "1000",
        "1000"
    ],
    "small_perimeter_speed": [
        "50%",
        "50%"
    ],
    "small_perimeter_threshold": [
        "0",
        "0"
    ],
    "smooth_coefficient": "150",
    "smooth_speed_discontinuity_area": "1",
    "solid_infill_filament": "1",
    "sparse_infill_acceleration": [
        "100%",
        "100%"
    ],
    "sparse_infill_anchor": "400%",
    "sparse_infill_anchor_max": "20",
    "sparse_infill_density": "{{SPARSE_INFILL_DENSITY}}",
    "sparse_infill_filament": "1",
    "sparse_infill_line_width": "0.45",
    "sparse_infill_pattern": "zig-zag",
    "sparse_infill_speed": [
        "270",
        "270"
    ],
    "spiral_mode": "0",
    "spiral_mode_max_xy_smoothing": "200%",
    "spiral_mode_smooth": "0",
    "standby_temperature_delta": "-5",
    "start_end_points": [
        "30x-3",
        "54x245"
    ],
    "supertack_plate_temp": "{{FILAMENT_SUPERTACK_PLATE_TEMP}}",
    "supertack_plate_temp_initial_layer": "{{FILAMENT_SUPERTACK_PLATE_TEMP_INITIAL_LAYER}}",
    "support_air_filtration": "0",
    "support_angle": "0",
    "support_base_pattern": "default",
    "support_base_pattern_spacing": "2.5",
    "support_bottom_interface_spacing": "0.5",
    "support_bottom_z_distance": "0.2",
    "support_chamber_temp_control": "0",
    "support_critical_regions_only": "0",
    "support_expansion": "0",
    "support_filament": "0",
    "support_interface_bottom_layers": "2",
    "support_interface_filament": "0",
    "support_interface_loop_pattern": "0",
    "support_interface_not_for_body": "1",
    "support_interface_pattern": "auto",
    "support_interface_spacing": "0.5",
    "support_interface_speed": [
        "80",
        "80"
    ],
    "support_interface_top_layers": "2",
    "support_line_width": "0.42",
    "support_object_first_layer_gap": "0.2",
    "support_object_skip_flush": "0",
    "support_object_xy_distance": "0.35",
    "support_on_build_plate_only": "0",
    "support_remove_small_overhang": "1",
    "support_speed": [
        "150",
        "150"
    ],
    "support_style": "default",
    "support_threshold_angle": "30",
    "support_top_z_distance": "0.2",
    "support_type": "tree(auto)",
    "symmetric_infill_y_axis": "0",
    "temperature_vitrification": "{{FILAMENT_TEMPERATURE_VITRIFICATION}}",
    "template_custom_gcode": [],
    "textured_plate_temp": "{{FILAMENT_TEXTURED_PLATE_TEMP}}",
    "textured_plate_temp_initial_layer": "{{FILAMENT_TEXTURED_PLATE_TEMP_INITIAL_LAYER}}",
    "thick_bridges": "0",
    "thumbnail_size": [
        "50x50"
    ],
    "time_lapse_gcode": ";========Date 20250206========\n; SKIPPABLE_START\n; SKIPTYPE: timelapse\nM622.1 S1 ; for prev firmware, default turned on\nM1002 judge_flag timelapse_record_flag\nM622 J1\n{if timelapse_type == 0} ; timelapse without wipe tower\nM971 S11 C10 O0\nM1004 S5 P1  ; external shutter\n{elsif timelapse_type == 1} ; timelapse with wipe tower\nG92 E0\nG1 X65 Y245 F20000 ; move to safe pos\nG17\nG2 Z{layer_z} I0.86 J0.86 P1 F20000\nG1 Y265 F3000\nM400\nM1004 S5 P1  ; external shutter\nM400 P300\nM971 S11 C11 O0\nG92 E0\nG1 X100 F5000\nG1 Y255 F20000\n{endif}\nM623\n; SKIPPABLE_END",
    "timelapse_type": "0",
    "top_area_threshold": "200%",
    "top_color_penetration_layers": "5",
    "top_one_wall_type": "all top",
    "top_shell_layers": "{{TOP_SHELL_LAYERS}}",
    "top_shell_thickness": "{{TOP_SHELL_THICKNESS}}",
    "top_solid_infill_flow_ratio": "1",
    "top_surface_acceleration": [
        "2000",
        "2000"
    ],
    "top_surface_jerk": "9",
    "top_surface_line_width": "0.42",
    "top_surface_pattern": "monotonicline",
    "top_surface_speed": [
        "200",
        "200"
    ],
    "top_z_overrides_xy_distance": "0",
    "travel_acceleration": [
        "10000",
        "10000"
    ],
    "travel_jerk": "9",
    "travel_speed": [
        "500",
        "500"
    ],
    "travel_speed_z": [
        "0",
        "0"
    ],
    "tree_support_branch_angle": "45",
    "tree_support_branch_diameter": "2",
    "tree_support_branch_diameter_angle": "5",
    "tree_support_branch_distance": "5",
    "tree_support_wall_count": "-1",
    "upward_compatible_machine": [
        "Bambu Lab P1P 0.4 nozzle",
        "Bambu Lab X1 0.4 nozzle",
        "Bambu Lab X1 Carbon 0.4 nozzle",
        "Bambu Lab X1E 0.4 nozzle"
    ],
    "use_firmware_retraction": "0",
    "use_relative_e_distances": "1",
    "version": "02.03.00.70",
    "vertical_shell_speed": [
        "80%",
        "80%"
    ],
    "volumetric_speed_coefficients": "{{FILAMENT_NY_VOLUMETRIC_SPEED_COEFFICIENTS}}",
    "wall_distribution_count": "1",
    "wall_filament": "1",
    "wall_generator": "classic",
    "wall_loops": "{{WALL_LOOPS}}",
    "wall_sequence": "inner wall/outer wall",
    "wall_transition_angle": "10",
    "wall_transition_filter_deviation": "25%",
    "wall_transition_length": "100%",
    "wipe": [
        "1",
        "1"
    ],
    "wipe_distance": [
        "2",
        "2"
    ],
    "wipe_speed": "80%",
    "wipe_tower_no_sparse_layers": "0",
    "wipe_tower_rotation_angle": "0",
    "wipe_tower_x": [
        "{{WIPE_TOWER_X}}"
    ],
    "wipe_tower_y": [
        "{{WIPE_TOWER_Y}}"
    ],
    "wrapping_detection_gcode": "",
    "wrapping_detection_layers": "20",
    "wrapping_exclude_area": [],
    "xy_contour_compensation": "0",
    "xy_hole_compensation": "0",
    "z_direction_outwall_speed_continuous": "0",
    "z_hop": [
        "0.4",
        "0.4"
    ],
    "z_hop_types": [
        "Auto Lift",
        "Auto Lift"
    ]
}